Repository intlify/bundle-tools, pull requests merged in 2021-09, with the labels that each got.

#45 docs(README): fix typo in the README of vite-plugin-vue-i18n
  packages/vite-plugin-vue-i18n/README.md
Labels: Type: Documentation, Package: vite-plugin-vue-i18n

#47 feat: support vue i18n bridge
  package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
  yarn.lock
Labels: Type: Feature, Package: bundle-utils

#49 feat: bridge mode for vue-i18n-bridge
  package.json
  packages/rollup-plugin-vue-i18n/examples/rollup.config.js
  packages/vite-plugin-vue-i18n/examples/vite.config.ts
  packages/vue-i18n-loader/README.md
  packages/vue-i18n-loader/package.json
  packages/vue-i18n-loader/src/index.ts
  packages/vue-i18n-loader/src/legacy.ts
  packages/vue-i18n-loader/src/options.ts
  packages/vue-i18n-loader/src/plugin.ts
  packages/vue-i18n-loader/test/__snapshots__/custom-block.test.ts.snap
  packages/vue-i18n-loader/test/custom-block.test.ts
  packages/vue-i18n-loader/test/utils.ts
  yarn.lock
Labels: Type: Feature, Package: vue-i18n-loader
