Repository intlify/bundle-tools, pull requests merged in 2021-08, with the labels that each got.

#38 fix(README): replace 'pre-commpile' with 'pre-compile'
  packages/vue-i18n-loader/README.md
Labels: Type: Documentation, Package: vue-i18n-loader

#39 Add option productionSourceMap for vue-i18n-loader
  packages/vue-i18n-loader/README.md
  packages/vue-i18n-loader/src/index.ts
  packages/vue-i18n-loader/src/options.ts
Labels: Type: Feature, Type: Breaking, Package: vue-i18n-loader

#42 chore: typo
  packages/vite-plugin-vue-i18n/README.md
Labels: Type: Documentation, Package: vite-plugin-vue-i18n
