Repository intlify/bundle-tools, pull requests merged in 2021-11, with the labels that each got.

#67 fix: add vite and vue-i18n as peerDependencies
  packages/bundle-utils/package.json
  packages/vite-plugin-vue-i18n/package.json
Labels: Type: Improvement, Package: vite-plugin-vue-i18n, Package: bundle-utils

#68 refactor: tweak codes
  packages/vite-plugin-vue-i18n/src/index.ts
  packages/vite-plugin-vue-i18n/src/injection.ts
  packages/vite-plugin-vue-i18n/src/query.ts
Labels: Type: Improvement, Package: vite-plugin-vue-i18n

#70 feat: support sourcemap generation
  packages/vite-plugin-vue-i18n/examples/legacy/main.ts
  packages/vite-plugin-vue-i18n/package.json
  packages/vite-plugin-vue-i18n/src/index.ts
  packages/vite-plugin-vue-i18n/test/__snapshots__/sourcemap.test.ts.snap
  packages/vite-plugin-vue-i18n/test/fixtures/yml.vue
  packages/vite-plugin-vue-i18n/test/sourcemap.test.ts
  packages/vite-plugin-vue-i18n/test/utils.ts
Labels: Type: Feature, Package: vite-plugin-vue-i18n

#71 fix: json resource handling
  packages/vite-plugin-vue-i18n/src/index.ts
  packages/vite-plugin-vue-i18n/test/__snapshots__/sourcemap.test.ts.snap
Labels: Type: Bug, Package: vite-plugin-vue-i18n

#72 improvement: add peerDeps for vue-i18n-loader
  packages/vue-i18n-loader/package.json
Labels: Type: Improvement, Package: vue-i18n-loader

#73 improvement: add peerDeps for rollup-plugin-vue-i18n
  packages/rollup-plugin-vue-i18n/package.json
Labels: Type: Improvement, Package: rollup-plugin-vue-i18n
