Repository intlify/bundle-tools, pull requests merged in 2022-04, with the labels that each got.

#99 fix(vite-plugin-vue-i18n): docs typo
  packages/vite-plugin-vue-i18n/README.md
Labels: Type: Documentation, Package: vite-plugin-vue-i18n

#100 fix(bundle-utils): pinned latest stable version
  packages/bundle-utils/package.json
Labels: Type: Improvement, Package: bundle-utils

#101 feat(bundle-utils): pinned intlify related module next version
  packages/bundle-utils/package.json
Labels: Type: Feature, Package: bundle-utils

#102 fix(vite-plugin-vue-i18n): pinned stable version for intlify related …
  packages/vite-plugin-vue-i18n/package.json
Labels: Type: Bug, Package: vite-plugin-vue-i18n

#103 feat(vite-plugin-vue-i18n): pinned next version for intlify related m…
  packages/vite-plugin-vue-i18n/package.json
Labels: Type: Feature, Package: vite-plugin-vue-i18n

#104 fix(vue-i18n-loader): pinned stable version for intlify related modules
  packages/vue-i18n-loader/package.json
Labels: Type: Bug, Package: vue-i18n-loader

#105 feat(vue-i18n-loader): pinned next version for intlify related modules
  packages/vue-i18n-loader/package.json
Labels: Type: Feature, Package: vue-i18n-loader
