Repository intlify/bundle-tools, pull requests merged in 2022-08, with the labels that each got.

#158 breaking(vite-plugin-vue-i18n): plugin export named default only
  packages/vite-plugin-vue-i18n/README.md
  packages/vite-plugin-vue-i18n/build.config.ts
  packages/vite-plugin-vue-i18n/package.json
  packages/vite-plugin-vue-i18n/src/index.ts
  yarn.lock
Labels: Type: Breaking, Package: vite-plugin-vue-i18n

#160 fix(vite-plugin-vue-i18n): use correct id in hmr
  packages/vite-plugin-vue-i18n/src/index.ts
Labels: Type: Bug, Package: vite-plugin-vue-i18n

#161 build: Perform build in GitHub Actions
  .github/workflows/build.yml
Labels: Type: Maintenance

#167 feat: support esm file extension
  packages/vite-plugin-vue-i18n/src/index.ts
Labels: Type: Feature, Package: vite-plugin-vue-i18n

#170 feat(vite-plugin-vue-i18n): support vue-i18n@9.3.0-beta.2 or later
  packages/vite-plugin-vue-i18n/src/index.ts
Labels: Type: Feature, Package: vite-plugin-vue-i18n

#171 fix(vite-plugin-vue-i18n): wrong exporting
  packages/vite-plugin-vue-i18n/index.mjs
  packages/vite-plugin-vue-i18n/package.json
Labels: Type: Bug, Package: vite-plugin-vue-i18n
