Repository intlify/bundle-tools, pull requests merged in 2023-08, with the labels that each got.

#272 Set `messages` type to the vue-i18n type instead of any
  packages/unplugin-vue-i18n/messages.d.ts
Labels: Type: Improvement, Package: unplugin-vue-i18n

#286 fix: Use `defaultSFCLang` setting for src files instead of falling back to json
  packages/unplugin-vue-i18n/src/index.ts
Labels: Type: Bug, Package: unplugin-vue-i18n

#287 feat(bundle-utils): support AST minify option
  package.json
  packages/bundle-utils/package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/test/generator/__snapshots__/codegen.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json5.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/codegen.test.ts
  packages/unplugin-vue-i18n/test/vite/__snapshots__/custom-block.test.ts.snap
  yarn.lock
Labels: Type: Feature, Package: bundle-utils

#288 feat(unplugin-vue-i18n): support `dropMessageCompiler` option
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
Labels: Type: Feature, Package: unplugin-vue-i18n

#289 fix(unplugin-vue-i18n): bump deps
  packages/unplugin-vue-i18n/package.json
  yarn.lock
Labels: Type: Maintenance, Package: unplugin-vue-i18n
