Repository intlify/bundle-tools, pull requests merged in 2023-05, with the labels that each got.

#270 fix: escape string, when there's a syntax failure
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/test/fixtures/codegen/invalid-message.js
  packages/bundle-utils/test/fixtures/codegen/invalid-message.json
  packages/bundle-utils/test/fixtures/codegen/invalid-message.yml
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/codegen.test.ts
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
Labels: Type: Bug, Package: bundle-utils

#269 fix(vue-facing-decorator): useClassComponent option
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
Labels: Type: Improvement, Package: bundle-utils

#271 fix(unplugin-vue-i18n): bump intlify/bundle-utils
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
  yarn.lock
Labels: Type: Improvement, Package: unplugin-vue-i18n
