Repository intlify/bundle-tools, pull requests merged in 2023-03, with the labels that each got.

#229 docs(unplugin-vue-i18n): add clarification for importing all locales
  packages/unplugin-vue-i18n/README.md
Labels: Type: Documentation, Package: unplugin-vue-i18n

#231 fix(bundle-utils): export js generate API
  packages/bundle-utils/src/index.ts
  yarn.lock
Labels: Type: Bug, Package: bundle-utils

#232 fix(unplugin-vue-i18n): support js and ts resource formats
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/test/fixtures/locales/en-GB.ts
  packages/unplugin-vue-i18n/test/fixtures/locales/en-KK.mjs
  packages/unplugin-vue-i18n/test/fixtures/locales/en-US.js
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/resource-compilation.test.ts
  yarn.lock
Labels: Type: Feature, Package: unplugin-vue-i18n

#233 fix(unplugin-vue-i18n): remove console log
  packages/unplugin-vue-i18n/src/index.ts
Labels: Type: Improvement, Package: unplugin-vue-i18n

#234 docs(unplugin-vue-i18n): add notcie for yaml format resource
  packages/unplugin-vue-i18n/README.md
Labels: Type: Documentation, Package: unplugin-vue-i18n

#236 fix(bundle-utils): switch to acorn
  packages/bundle-utils/package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/test/fixtures/codegen/no-export-default.js
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  yarn.lock
Labels: Type: Improvement, Package: bundle-utils

#239 fix(bundle-utils): remove console logs
  packages/bundle-utils/src/js.ts
Labels: Type: Improvement, Package: bundle-utils

#240 fix(bundle-utils): strictly js / ts syntax checking
  packages/bundle-utils/package.json
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/test/fixtures/codegen/allow-dynamic.js
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  yarn.lock
Labels: Type: Bug, Package: bundle-utils

#241 feat(unplugin-vue-i18n): support dynamic resource construction for js / ts formats
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/resource-compilation.test.ts
  yarn.lock
Labels: Type: Feature, Package: unplugin-vue-i18n

#242 feat(bundle-utils): support sfc custom block code generation for vue-i18n v8.x legacy options api
  packages/bundle-utils/package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/legacy.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
  packages/bundle-utils/test/utils.ts
  yarn.lock
Labels: Type: Feature, Package: bundle-utils

#243 fix(bundle-utils): fallback code generation for SFC
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
  packages/unplugin-vue-i18n/test/vite/__snapshots__/sourcemap.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
Labels: Type: Bug, Package: bundle-utils

#247 feat(bundle-utils): support strictly message transfom
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/fixtures/codegen/html.js
  packages/bundle-utils/test/fixtures/codegen/html.json
  packages/bundle-utils/test/fixtures/codegen/html.yaml
  packages/bundle-utils/test/generator/__snapshots__/codegen.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/codegen.test.ts
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
Labels: Type: Feature, Package: bundle-utils

#248 fix(bundle-utils): existing functions not being generated
  packages/bundle-utils/package.json
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/test/fixtures/codegen/functions.js
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  yarn.lock
Labels: Type: Bug, Package: bundle-utils

#249 feat(unplugin-vue-i18n): support strict message and escape html
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/test/fixtures/locales/html.json
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/bundle-import.test.ts
  packages/unplugin-vue-i18n/test/vite/resource-compilation.test.ts
  yarn.lock
Labels: Type: Feature, Package: unplugin-vue-i18n

#253 fix: types exports for "moduleResolution": "node16"
  packages/unplugin-vue-i18n/package.json
Labels: Type: Improvement, Package: unplugin-vue-i18n

#254 fix(bundle-utils): improve plain code generation
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json5.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/unplugin-vue-i18n/test/vite/__snapshots__/sourcemap.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
Labels: Type: Improvement, Package: bundle-utils

#255 feat(bundle-utils): support esm/cjs dual package
  .github/workflows/test.yml
  package.json
  packages/bundle-utils/build.config.ts
  packages/bundle-utils/index.mjs
  packages/bundle-utils/package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/deps.ts
  packages/bundle-utils/src/index.ts
  packages/bundle-utils/test/deps.test.ts
  packages/bundle-utils/test/generator/__snapshots__/codegen.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json5.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/tsconfig.json
  vitest.config.ts
  yarn.lock
Labels: Package: bundle-utils
