Repository intlify/bundle-tools, pull requests merged in 2024-11, with the labels that each got.

#403 fix(unplugin-vue-i18n): bump scope manager and estree modules
  packages/unplugin-vue-i18n/package.json
  pnpm-lock.yaml
Labels: Package: unplugin-vue-i18n

#404 chore: bump deps
  .secretlintrc.json
  package.json
  packages/rollup-plugin-vue-i18n/jest.config.js
  packages/rollup-plugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/test/vite/__snapshots__/sourcemap.test.ts.snap
  packages/vite-plugin-vue-i18n/jest.config.js
  packages/vite-plugin-vue-i18n/package.json
  packages/vue-i18n-loader/jest.config.js
  packages/vue-i18n-loader/package.json
  pnpm-lock.yaml
Labels: Type: Maintenance, Package: vite-plugin-vue-i18n, Package: vue-i18n-loader, Package: rollup-plugin-vue-i18n, Package: bundle-utils, Package: unplugin-vue-i18n

#407 chore: upgrade eslint
  .github/contributing.md
  .prettierignore
  .prettierrc
  .yarnrc.yml
  README.md
  TODO.md
  eslint.config.ts
  package.json
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/deps.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/fixtures/codegen/complex.json5
  packages/bundle-utils/test/fixtures/codegen/complex.yaml
  packages/bundle-utils/test/fixtures/codegen/complex.yml
  packages/bundle-utils/test/generator/__snapshots__/json5.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
  packages/rollup-plugin-vue-i18n/README.md
  packages/rollup-plugin-vue-i18n/examples/composition/locales/ja.json5
  packages/rollup-plugin-vue-i18n/test/fixtures/import.vue
  packages/rollup-plugin-vue-i18n/test/fixtures/json5.vue
  packages/rollup-plugin-vue-i18n/test/fixtures/multiple.vue
  packages/rollup-plugin-vue-i18n/test/fixtures/yaml.vue
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/core/directive.ts
  packages/unplugin-vue-i18n/src/core/resource.ts
  packages/unplugin-vue-i18n/test/fixtures/json5.vue
  packages/unplugin-vue-i18n/test/fixtures/yaml.vue
  packages/unplugin-vue-i18n/test/fixtures/yml.vue
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
  packages/vite-plugin-vue-i18n/README.md
  packages/vite-plugin-vue-i18n/examples/composition/locales/ja.json5
  packages/vite-plugin-vue-i18n/test/fixtures/json5.vue
  packages/vite-plugin-vue-i18n/test/fixtures/multiple.vue
  packages/vite-plugin-vue-i18n/test/fixtures/yaml.vue
  packages/vite-plugin-vue-i18n/test/fixtures/yml.vue
  packages/vue-i18n-loader/README.md
  packages/vue-i18n-loader/test/fixtures/import.vue
  packages/vue-i18n-loader/test/fixtures/json5.vue
  packages/vue-i18n-loader/test/fixtures/multiple.vue
  packages/vue-i18n-loader/test/fixtures/yaml.vue
  pnpm-lock.yaml
  scripts/release.ts
  scripts/utils.ts
  tsconfig.json
Labels: Type: Maintenance, Package: vite-plugin-vue-i18n, Package: vue-i18n-loader, Package: rollup-plugin-vue-i18n, Package: bundle-utils, Package: unplugin-vue-i18n

#410 fix(unplugin): update intlify releated deps version
  .eslintignore
  .eslintrc.js
  packages/unplugin-vue-i18n/package.json
  pnpm-lock.yaml
Labels: Type: Maintenance, Package: unplugin-vue-i18n

#413 fix(unplugin-vue-i18n): remove directives plugin warnings on SSR build
  packages/unplugin-vue-i18n/src/core/directive.ts
Labels: Type: Bug, Package: unplugin-vue-i18n

#414 fix(unplugin-vue-i18n): don't analyze identifiers in vue files when using `pug/jsx/tsx` languages
  packages/unplugin-vue-i18n/src/core/directive.ts
Labels: Type: Bug, Package: unplugin-vue-i18n

#418 feat!: move packages to ESM first
  packages/bundle-utils/package.json
  packages/bundle-utils/tsconfig.json
  packages/unplugin-vue-i18n/build.config.ts
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/tsconfig.json
  pnpm-lock.yaml
Labels: Type: Feature, Package: bundle-utils, Package: unplugin-vue-i18n

#419 chore: fix eslint on Windows
  eslint.config.mjs
Labels: Type: Maintenance
