Repository intlify/bundle-tools, pull requests merged in 2024-05, with the labels that each got.

#362 breaking(unplugin-vue-i18n): drop `jitCompilation` option
  .github/workflows/test.yml
  package.json
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/examples/vite/vite.config.ts
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/__snapshots__/custom-block.test.ts.snap
  packages/unplugin-vue-i18n/test/vite/__snapshots__/sourcemap.test.ts.snap
  packages/unplugin-vue-i18n/test/vite/bundle-import.test.ts
  packages/unplugin-vue-i18n/test/vite/custom-block.test.ts
  packages/unplugin-vue-i18n/test/vite/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/custom-block.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/custom-block.test.ts
  packages/unplugin-vue-i18n/test/webpack/resource-compilation.test.ts
  yarn.lock
Labels: Type: Breaking, Package: unplugin-vue-i18n

#363 breaking(bundle-utils): drop node v18 lower
  packages/bundle-utils/package.json
Labels: Type: Breaking, Package: bundle-utils

#364 breaking(unplugin-vue-i18n): drop node v18 lower
  packages/unplugin-vue-i18n/package.json
Labels: Type: Breaking, Package: unplugin-vue-i18n

#365 breaking(bundle-utils): drop unnecessary `vueVersion` option
  packages/bundle-utils/src/codegen.ts
Labels: Type: Breaking, Package: bundle-utils

#367 breaking(bundle-utils): drop `useClassComponent` option
  packages/bundle-utils/src/codegen.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
Labels: Type: Breaking, Package: bundle-utils

#366 fix(bundle-utils,unplugin-vue-i18n): exclude locales when using mixed locales #329
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/unplugin-vue-i18n/test/fixtures/locale-mix-json.vue
  packages/unplugin-vue-i18n/test/fixtures/locale-mix-yaml.vue
  packages/unplugin-vue-i18n/test/vite/__snapshots__/custom-block.test.ts.snap
  packages/unplugin-vue-i18n/test/vite/custom-block.test.ts
Labels: Type: Bug, Package: bundle-utils, Package: unplugin-vue-i18n

#368 fix(unplugin-vue-i18n): drop `useClassComponent` option
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/class-component.test.ts
  packages/unplugin-vue-i18n/test/webpack/class-component.test.ts
Labels: Type: Breaking, Package: unplugin-vue-i18n

#369 feat(bundle-utils,unplugin-vue-i18n): pkg option for `getVueI18nVersion`
  packages/bundle-utils/src/deps.ts
  packages/unplugin-vue-i18n/src/index.ts
Labels: Type: Feature, Package: bundle-utils, Package: unplugin-vue-i18n

#370 feat(bundle-utils): support vue-i18n v10 at `getVueI18nVersion`
  packages/bundle-utils/src/deps.ts
Labels: Package: bundle-utils

#371 fix(unplugin-vue-i18n): not work `useVueI18nImportName` option
  packages/unplugin-vue-i18n/src/index.ts
Labels: Package: unplugin-vue-i18n

#372 breaking: drop `useVueI18nImportName` option
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/src/utils.ts
Labels: Type: Breaking, Package: unplugin-vue-i18n
