Repository intlify/bundle-tools, pull requests merged in 2024-03, with the labels that each got.

#349 breaking(unplugin-vue-i18n): deprecate around some options for Vue 2
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/index.ts
Labels: Type: Improvement, Type: Deprecated, Package: unplugin-vue-i18n

#350 Fix vueVersion warning
  packages/unplugin-vue-i18n/src/index.ts
Labels: Type: Bug, Package: unplugin-vue-i18n

#353 breaking: drop deprecation code
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/test/vite/__snapshots__/custom-block.test.ts.snap
  packages/unplugin-vue-i18n/test/vite/custom-block.test.ts
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/bridge.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/bridge.test.ts
Labels: Type: Breaking, Package: unplugin-vue-i18n

#354 breaking: drop legacy compatible features for Vue 2
  packages/bundle-utils/package.json
  packages/bundle-utils/src/deps.ts
  packages/bundle-utils/src/index.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/legacy.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/deps.test.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/yaml.test.ts.snap
  packages/bundle-utils/test/generator/js.test.ts
  packages/bundle-utils/test/generator/json.test.ts
  packages/bundle-utils/test/generator/yaml.test.ts
  packages/bundle-utils/test/legacy.test.ts
  yarn.lock
Labels: Type: Breaking, Package: bundle-utils

#355 fix: upgrade bundle/utils deps version
  packages/unplugin-vue-i18n/package.json
  yarn.lock
Labels: Type: Improvement, Package: unplugin-vue-i18n
