Repository intlify/bundle-tools, pull requests merged in 2025-03, with the labels that each got.

#444 feat: support rspack
  .github/workflows/test.yml
  examples/rspack/index.html
  examples/rspack/rspack.config.js
  examples/rspack/src/App.vue
  examples/rspack/src/Apple.vue
  examples/rspack/src/Banana.vue
  examples/rspack/src/locales/en.yaml
  examples/rspack/src/locales/ja.json
  examples/rspack/src/main.js
  package.json
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/build.config.ts
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/rspack.d.ts
  packages/unplugin-vue-i18n/src/core/resource.ts
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/rspack.ts
  packages/unplugin-vue-i18n/test/__snapshots__/custom-block.test.ts.rspack.snap
  packages/unplugin-vue-i18n/test/__snapshots__/custom-block.test.ts.vite.snap
  packages/unplugin-vue-i18n/test/__snapshots__/custom-block.test.ts.webpack.snap
  packages/unplugin-vue-i18n/test/__snapshots__/sourcemap.test.ts.rspack.snap
  packages/unplugin-vue-i18n/test/__snapshots__/sourcemap.test.ts.vite.snap
  packages/unplugin-vue-i18n/test/__snapshots__/sourcemap.test.ts.webpack.snap
  packages/unplugin-vue-i18n/test/__snapshots__/translation-directive.test.ts.vite.snap
  packages/unplugin-vue-i18n/test/bundle-import.test.ts
  packages/unplugin-vue-i18n/test/custom-block.test.ts
  packages/unplugin-vue-i18n/test/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/sourcemap.test.ts
  packages/unplugin-vue-i18n/test/translation-directive.test.ts
  packages/unplugin-vue-i18n/test/utils.ts
  packages/unplugin-vue-i18n/test/vite/sourcemap.test.ts
  packages/unplugin-vue-i18n/test/webpack/__snapshots__/sourcemap.test.ts.snap
  packages/unplugin-vue-i18n/test/webpack/bundle-import.test.ts
  packages/unplugin-vue-i18n/test/webpack/custom-block.test.ts
  packages/unplugin-vue-i18n/test/webpack/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/webpack/sourcemap.test.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: Type: Feature, Package: unplugin-vue-i18n

#445 refactor: simplify resource logic
  packages/unplugin-vue-i18n/src/core/options.ts
  packages/unplugin-vue-i18n/src/core/resource.ts
Labels: Type: Refactoring, Package: unplugin-vue-i18n

#447 fix: transform/parse ts files and bundle using imports
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  examples/rspack/rspack.config.mjs
  examples/rspack/src/main.js
  examples/vite/vite.config.ts
  examples/webpack/src/main.js
  examples/webpack/webpack.config.mjs
  package.json
  packages/bundle-utils/package.json
  packages/bundle-utils/src/index.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/test/fixtures/codegen/import.js
  packages/bundle-utils/test/fixtures/codegen/unhanding.js
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/js1.test.ts.snap
  packages/bundle-utils/test/generator/js1.test.ts
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/core/options.ts
  packages/unplugin-vue-i18n/src/core/resource.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/src/utils/misc.ts
  packages/unplugin-vue-i18n/src/vue/utils.ts
  packages/unplugin-vue-i18n/test/bundle-import.test.ts
  packages/unplugin-vue-i18n/test/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/utils.ts
  pnpm-lock.yaml
  vitest.config.ts
Labels: Package: bundle-utils, Package: unplugin-vue-i18n

#450 chore(deps): replace `playwright` with `playwright-core`
  .github/workflows/ci.yml
  e2e/helper.ts
  e2e/vite.spec.ts
  package.json
  pnpm-lock.yaml
  scripts/playwright.ts
  scripts/vitest.setup.ts
Labels: Type: Maintenance, Type: Dependency

#451 refactor: simplify js generate
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/test/generator/__snapshots__/js.test.ts.snap
Labels: Type: Refactoring, Package: bundle-utils

#456 refactor: simplify generators
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/json.ts
  packages/bundle-utils/src/yaml.ts
  packages/bundle-utils/test/generator/__snapshots__/json.test.ts.snap
  packages/bundle-utils/test/generator/__snapshots__/json5.test.ts.snap
Labels: Type: Refactoring, Package: bundle-utils

#464 breaking: drop node v18
  .github/workflows/ci.yml
  packages/bundle-utils/package.json
  packages/unplugin-vue-i18n/package.json
Labels: breaking

#467 breaking(unplugin-vue-i18n): drop `optimizeTranslationDirective` option
  e2e/vite.spec.ts
  examples/vite/src/App.vue
  package.json
  packages/unplugin-vue-i18n/README.md
  packages/unplugin-vue-i18n/package.json
  packages/unplugin-vue-i18n/src/core/directive.ts
  packages/unplugin-vue-i18n/src/core/index.ts
  packages/unplugin-vue-i18n/src/core/options.ts
  packages/unplugin-vue-i18n/src/index.ts
  packages/unplugin-vue-i18n/src/types.ts
  packages/unplugin-vue-i18n/src/utils/plugin.ts
  packages/unplugin-vue-i18n/src/vue/descriptor.ts
  packages/unplugin-vue-i18n/src/vue/index.ts
  packages/unplugin-vue-i18n/src/vue/types.ts
  packages/unplugin-vue-i18n/src/vue/utils.ts
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-alias.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-global-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-local-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-no-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-no-use.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/script-setup-obj.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-alias.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-global-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-local-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-no-option.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-no-use.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-return-alias-with-obj.vue
  packages/unplugin-vue-i18n/test/fixtures/directives/setup-return-alias.vue
  packages/unplugin-vue-i18n/test/resource-compilation.test.ts
  packages/unplugin-vue-i18n/test/translation-directive.test.ts
  pnpm-lock.yaml
Labels: breaking

#478 feat!: transform using `esbuild` and separate ts generator
  knip.config.ts
  packages/bundle-utils/package.json
  packages/bundle-utils/src/index.ts
  packages/bundle-utils/src/js.ts
  packages/bundle-utils/src/ts.ts
  packages/unplugin-vue-i18n/src/core/resource.ts
  pnpm-lock.yaml
Labels: refactoring, breaking, feature, performance
